.payment-form {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 #333;
    padding: 20px;
    margin: 10px;
    width: 50%;
}

.payment-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.payment-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
