.main-inactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-active {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
}

.active-subscription-details-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 25% 75%;
}

.update-subscription-container {
    display: grid;
    justify-content: center;    
    align-items: center;
    grid-template-rows: 25% 75%;
}


.subscription-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 #333;
    padding: 20px;
}

.subscription-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}



