html, body, #root {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 100px auto 100px;
}
